<!DOCTYPE html>
<html>
<head>
    <title>Wdevnet:disclaimer</title>
    <style>
        div{
            margin: 20px 100px;
            font-size: 20px;
            font-family: "Bookman Old Style",sans-serif;
            position: relative;
        }
        h1{font-size: 34px;}
        h2{font-size: 28px;}
    </style>
</head>
<body>
<header style="background-color: #5f5f5f; color:white; margin: 30px 0; position: relative; font-family: Arial,cursive">
    <br>
    <br>
    <h1 style="margin: 30px 30px">
        Wdevnet
    </h1>
    <p style="margin: 30px 30px">Disclaimer of www.wdevnet.com</p>
    <br>
    <br>
</header>
<div>

<h1>Disclaimer for Wdevnet</h1>

<p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at wdevnetcon@gmail.com</p>

<h2>Disclaimers for Wdevnet</h2>

<p>All the information on this website - www.wdevnet.com - is published in good faith and for general information purpose only. Wdevnet does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Wdevnet), is strictly at your own risk. Wdevnet will not be liable for any losses and/or damages in connection with the use of our website.</p>

<p>From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>

<p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>

<h2>Update</h2>

<p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>

<p><a href="https://disclaimergenerator.net#wizard">This Disclaimer was created at World's Free Disclaimer Generator.</a></p>
</div>
</body>
</html>